@import url("https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --text: #221211;
  --background: #ffffff;
  --primary: #51a0a4;
  --secondary: #f0e1e1;
  --accent: #244648;
}

[data-theme="dark"] {
  --text: #ffffff;
  --background: #221211;
  --secondary: #242424;
  --accent: #59a8ac;
}

html {
  background-color: var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

main a {
  color: var(--primary);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1 a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  position: relative;
  padding-bottom: 0.25em;
}

h1::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 50px;
  background-color: var(--primary);
  bottom: 0;
  left: 0;
}

ul {
  list-style-type: none;
}

main {
  padding: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 100%;
  max-width: min(100vh - 2em, 80ch);
  flex-grow: 1;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

header {
  width: 100%;
  background-color: var(--secondary);
  padding: 1em;
}

#hamburger {
  padding-right: 20px;
  cursor: pointer;
}

#hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--primary);
  border-radius: 0.5em;
}

.nav-links {
  display: none;
  margin: 0;
  width: 100%;
}

.nav-link {
  color: var(--text);
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  scale: 0 1;
  transition: scale 250ms ease;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary);
}

.nav-link:hover::after,
.nav-link:focus::after {
  scale: 1 1;
}

.expanded {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 0.5em;
}

.expanded > .nav-link {
  padding: 0.5em;
}

.astro-code {
  padding: 2em;
  border-radius: 0.5em;
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0;
  margin: 0;
}

.tag-element {
  margin: 0 auto;
  text-decoration: none;
  display: grid;
  place-content: center;
  width: min(100vw - 2em, 300px);
  background-color: var(--accent);
  color: var(--secondary);
  border-radius: 0.5em;
  transition: scale 150ms ease;
}

.tag-element:hover {
  background-color: var(--primary);
  scale: 1.05;
}

.tags {
  display: grid;
  gap: 1em;
  margin-top: 2em;
}

#themeToggle {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (min-width: 636px) {
  #themeToggle {
    display: block;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-links {
    display: flex;
    gap: 4em;
    justify-content: center;
    position: static;
    width: auto;
  }

  .nav-links a {
    display: inline-block;
  }

  #hamburger {
    display: none;
  }

  header {
    padding: 2em;
  }
  .tags {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}
