@import url("https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
  background-color: #f1f5f9;
  font-family: "Poppins", sans-serif;
}

a {
  color: dodgerblue;
}

a:visited {
  color: rgb(11, 123, 235);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

html.dark {
  background-color: #222;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

* {
  box-sizing: border-box;
}

h1 {
  position: relative;
  padding-bottom: 0.25em;
}

h1::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 50px;
  background-color: dodgerblue;
  bottom: 0;
  left: 0;
}

ul {
  list-style-type: none;
}

main {
  padding: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 100%;
  max-width: min(100vh - 2em, 80ch);
  flex-grow: 1;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

header {
  width: 100%;
  background-color: #1e1e1e;
  padding: 1em;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
  border-radius: 0.5em;
}

.nav-links {
  display: none;
  margin: 0;
}

.nav-links a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #f08080;
  scale: 0 1;
  transition: scale 250ms ease;
}

.nav-links a:hover,
.nav-links a:focus {
  color: dodgerblue;
}

.nav-links a:hover::after,
.nav-links a:focus::after {
  scale: 1 1;
}

.expanded {
  display: unset;
}

.astro-code {
  padding: 2em;
  border-radius: 0.5em;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    gap: 4em;
    justify-content: center;
    position: static;
    width: auto;
    color: #1e1e1e;
  }

  .nav-links a {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }

  header {
    padding: 2em;
  }
}
