---
import "../../styles/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagCard from "../../components/TagCard.astro";
const pageTitle = "Available Tags";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    <!-- {tags.map((tag) => <Badge name={tag} />)} -->
    {tags.map((tag) => <TagCard tag={tag} />)}
  </div>
</BaseLayout>
