---
import "../../styles/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Badge from "../../components/Badge.astro";
const pageTitle = "Available Tags";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1em;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {tags.map((tag) => <Badge name={tag} />)}
  </div>
</BaseLayout>
