---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
</style>
<BaseLayout pageTitle={pageTitle}>
  <h2>Advice worth exactly what you paid for it</h2>
  <p>
    I might post some articles about what's going on depending on depression
    flare ups and children letting me sleep.
  </p>
  <ul>
    {
      allPosts.map((post) => {
        return <ArticleCard article={post} />;
      })
    }
  </ul>
</BaseLayout>
