---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.svelte";
const pageTitle = "Nobody Asked";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>I know you didn't ask but, here we are...</h2>
  <Greeting
    client:load
    messages={[
      "Hi",
      "Hello",
      "Howdy",
      "Welcome",
      "Hey there",
      "Bonjour",
      "Hola",
      "Ciao",
      "Gute tag",
      "Hallo",
      "Dia dhuit",
      "Zdravstvuyte",
    ]}
  />
</BaseLayout>
