---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.svelte";
import TwoColumns from "../components/TwoColumns.astro";
const pageTitle = "Nobody Asked";
---

<style>
  .index-card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    height: 14em;
    background-color: var(--secondary);
    border-radius: 0.5em;
    transition: scale 150ms ease;
  }

  .index-card h1 {
    color: var(--accent);
  }

  .index-card p {
    color: var(--text);
  }

  .index-card:hover {
    scale: 1.05;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <Greeting
    client:load
    messages={[
      "Hi",
      "Hello",
      "Howdy",
      "Welcome",
      "Hey there",
      "Bonjour",
      "Hola",
      "Ciao",
      "Gute tag",
      "Hallo",
      "Dia dhuit",
      "Zdravstvuyte",
    ]}
  />
  <TwoColumns>
    <div slot="left">
      <a class="index-card" href="/blog"
        ><h1>Blog!</h1>
        <p>Check out some of my articles.</p>
      </a>
    </div>
    <div slot="right">
      <a class="index-card" href="/about"
        ><h1>About me!</h1>
        <p>See what I'm all about.</p>
      </a>
    </div>
  </TwoColumns>
</BaseLayout>
