---
import "../styles/global.css";
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.svelte";
import MobileNavButton from "./MobileNavButton.svelte";
---

<header>
  <nav>
    <MobileNavButton transition:persist client:load />
    <Navigation />
    <ThemeToggle transition:persist client:load />
  </nav>
</header>
