---
import "../styles/global.css";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<style></style>
<header>
  <nav>
    <Hamburger />
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
