---
import "../styles/global.css";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
</style>
<header>
  <nav>
    <Hamburger />
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
