---
import "../styles/global.css";
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.svelte";
import MobileNavButton from "./MobileNavButton.svelte";
---

<header>
  <nav transition:persist>
    <MobileNavButton client:load />
    <Navigation />
    <ThemeToggle client:load />
  </nav>
</header>
